@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald:400|Russo+One&effect=shadow-multiple|3d-float|static");

body {
    font-family: 'Open Sans Condensed','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
main{
    background-color: rgb(2, 2, 62);
}