@import url("https://fonts.googleapis.com/css?family=Roboto|Oswald:400|Russo+One&effect=shadow-multiple|3d-float|static");

#left-side, #right-side {
    min-height: 100vh;
}

#left-side {
    background-color: white;
}

#right-side {
    background-color: black;
    font-family: 'Oswald','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#right-side h1 {
    font-family: 'Russo One','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}